<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.unsavedukeleledocument</string>
	<key>CFBundleName</key>
	<string>crypto</string>
	<key>CFBundleVersion</key>
	<string>1.11</string>
	<key>KLInfo_U.S. – Crypto</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unsavedukeleledocument.u.s.–crypto</string>
		<key>TISIntendedLanguage</key>
		<string>en-AA</string>
	</dict>
	<key>UkeleleInfo_U.S. – Crypto</key>
	<dict>
		<key>Font</key>
		<string>Machine-Regular</string>
		<key>FontSize</key>
		<real>18</real>
	</dict>
</dict>
</plist>
